

.users table {
    width: 100%;
    border-collapse: collapse;
}

.users th,
.users td {
    border: 1px solid #ccc;
    padding: 0.5em;
    text-align: center;
}

.users th {
    background-color: #f4f4f4;
}

.action-dropdown {
    position: relative;
    display: inline-block;
}

.action-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.action-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.action-dropdown-content a:hover {
    background-color: #f1f1f1
}

.action-dropdown:hover .action-dropdown-content {
    display: block;
}

.action-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}