.sort-button {
    border-radius: 1em;
    font-weight: bold;
    border: solid 2px #777;
    color: #777;
    background-color: white;
    padding: 1em 2em;
    float: right;
    transition: 300ms ease;
}

.sort-button:hover {
    scale: 1.1;
    cursor: pointer;
}

.art-grid {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5em;
    margin-bottom: 2em;
    align-items: center;
    justify-content: center;
}

.art-card {
    background: #fff;
    padding: 1em;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    height: min-content;
}

.art-image {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 0.5em;
}

.art-details {
    padding-bottom: 3em;
}

.art-details h3 {
    margin-top: 0.5em;
    font-weight: 600;
}

.action-dropdown {
    position: relative;
    display: inline-block;
}

.action-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.action-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.action-dropdown-content a:hover {
    background-color: #f1f1f1
}

.action-dropdown:hover .action-dropdown-content {
    display: block;
}

.action-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.artist-profile {
    position: absolute;
    top: -1em;
    right: -1em;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.error-message {
    color: #D8000C;
    background-color: #FFD2D2;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}