body,
h1,
ul,
li,
p {
    margin: 0;
    padding: 0;
}


body {
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;

}


.main-header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.logo {
    font-size: 2em;
    font-weight: bold;
    width: 200px;
    padding: 0 1em;
}

.logo:hover {
    cursor: pointer;
}

.logo a {
    text-decoration: none;
    color: white;
}

.main-nav {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: flex-end;

}

.nav-list {
    list-style: none;
}

.nav-item {
    display: inline;
    margin-right: 20px;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.main-content {
    min-height: 100vh;
    padding: 1em
}

.hero {
    background: url('../images/hero.jpeg') no-repeat center center;
    background-size: cover;
    background-position: center;
    height: 20vh;
    color: white;
    text-align: center;
    padding: 100px 0;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    margin: -1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 0 0 1em #000000;
}

.hero p {
    font-size: 1.4em;
    text-shadow: 0 0 1em #000000;
}

.description {
    padding: 50px;
    text-align: center;
}

.description h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.description p {
    font-size: 1.2em;
}

.main-title {
    font-size: 2em;
    padding: 1em;
}

.intro-text {
    font-size: 1.2em;
}

.main-footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    width: 100%;
}